{% extends "layout.html" %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="{{ url_for('static', filename='img/arabsoc.png') }}" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form action="{{ url_for('validateUser') }}" method="post" id="loginForm">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" form="loginForm" class="form-control input_user" value="" placeholder="Username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" form="loginForm" class="form-control input_pass" value="" placeholder="Password">
						</div>

					</form>
				</div>
				<div class="d-flex justify-content-center mt-3 login_container">
					<button type="submit" form="loginForm" name="button" class="btn login_btn">Login</button>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{{ url_for('register') }}" class="ml-2">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block right_button %}
    <button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for('register') }}';">Sign Up</button>
{% endblock %}
